
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Projet_POEC.iml
.idea/vcs.xml
.idea/workspace.xml
Projet_POEC/Projet/__pycache__/connect_elastic.cpython-37.pyc
Projet_POEC/Projet/__pycache__/read_prepare_csv_SIRENE.cpython-37.pyc
